.sOneContainer {
  background-image: url(../../../assets/pattern.jpg);
  /* position: fixed; */
  background-repeat: no-repeat;
  height: 50vh; /* You must set a specified height */
  background-position: center fixed; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background: linear-gradient(
    140deg,
    rgb(40, 221, 167) 0%,
    #d04d9d 10%,
    #7d44be 50%,
    #293680 75%,
    #0b001d 100%
  ); */
  /* opacity: 0.5; */
}

/* SECTION TWO */
.sTwoAboutContainer {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 20vh 10vw;
  align-items: flex-start;
  background-color: var(--third-color);
  height: 100vh;
  gap: 1vw;
}

.sTwoAboutSideBar {
  width: 45vw;
  position: fixed;
  left: 10vw;
  top: 20vh;
}

.sTwoAboutSideList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding-top: 10vh;
}

.sTwoAboutList {
  font-size: 2vw;
  color: white;
  cursor: pointer;
}

.sTwoAboutList.active {
  color: var(--fourth-color); /* Change the background color to your needs */
}

.sTwoAboutDetail {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
}

.sTwoAboutDetail.active {
  display: flex !important; /* Show the active section */
}

.sTwoAboutDetail:not(.active) {
  display: flex !important; /* Hide inactive sections */
}

.sTwoAboutHeader {
  font-size: 4vw;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sTwoAboutText {
  font-size: 1.3vw;
  text-align: justify;
  text-justify: distribute;
  line-height: 4vh;
  margin-top: 2vh;
  color: rgb(239, 235, 235);
}

.sTwoAboutBtn {
  padding: 1vh 2vw;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--first-color);
  font-size: 1.2vw;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 1s all ease-in-out;
  width: 10vw;
}

.sTwoAboutBtn:hover {
  background-color: var(--first-color);
}

/* .sTwoAboutDetail {
  height: 100vh
} */

/* SECTION THREE */
.sThreeAboutContainer {
  padding: 6vh 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vw;
  background-color: rgb(240, 230, 248);
}

.sThreeAbouHero {
  color: var(--main-color);
  margin: 4vh 0;
}

.sThreeHeroFAQS {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.sThreeAboutLeft {
  display: flex;
  flex-direction: column;
}

.sThreeAbouHeader {
  background-color: rgb(59, 32, 82);
  color: white;
  font-size: 1vw;
  width: 40vw;
  padding: 1.4vh;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: -5px -4px 13px -7px rgba(0, 0, 0, 0.45);
}

.sThreeAboutText {
  width: 37vw;
  padding: 2vw;
  font-size: 1vw;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 3px 19px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 3px 19px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 3px 19px -1px rgba(0, 0, 0, 0.45);
  max-height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  max-height: 40vh;
}

.sThreeAboutText.visible {
  max-height: 40vh;
}
