/* body {
  margin: 0;
  background-color: #000;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
 }

 a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
 } */

header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  color: #ffffff;
  margin-right: 40px;
}

/* carousel1 */

.carousel1 {
  height: 100vh;
  /* margin-top: -50px; */
  width: 100vw;
  overflow: hidden;
  position: relative;

  /* margin: 15vh 0; */
  font-family: Sarabun, sans-serif;
}

.carousel1 .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  /* inset: 0 0 0 0; */
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.9;
}

.carousel1 .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel1 .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #efefef;
  text-shadow: 0 5px 10px #0004;
}

.carousel1 .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
  color: #fff;
}

.carousel1 .list .item .title,
.carousel1 .list .item .topic {
  font-size: 4em;
  font-weight: bold;
  line-height: 1.3em;
}

.carousel1 .list .item .topic {
  color: #884ed9;
}

.carousel1 .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel1 .list .item .buttons button {
  border: none;
  background-color: #884ed9;
  letter-spacing: 3px;
  /* font-family: Poppins; */
  font-weight: 500;
  color: white;
  border-radius: 5vw;
}

.carousel1 .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #884ed9;
  color: #884ed9;
  border-radius: 5vw;
}

.thumbnail {
  position: absolute;
  bottom: 130px;
  left: 40%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 250px;
  /* height: 220px; */
  flex-shrink: 0;
  position: relative;

  border-radius: 20px;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  /* color: #feffff; */
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  padding: 1vw;
}

.title {
  font-weight: 500;
  color: #fff;
}

.thumbnail .item .content .description {
  font-weight: 300;
}

.arrows {
  position: absolute;
  bottom: 20%;
  left: 5%;
  z-index: 100;
  /* width: 300px; */
  /* max-width: 30%; */
  display: flex;
  gap: 10px;
  /* align-items: center; */
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  /* font-family: monospace; */
  font-weight: bold;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel1 .list .item:nth-child(1) {
  z-index: 1;
}

.carousel1 .list .item:nth-child(1) .content .author,
.carousel1 .list .item:nth-child(1) .content .title,
.carousel1 .list .item:nth-child(1) .content .topic,
.carousel1 .list .item:nth-child(1) .content .des,
.carousel1 .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel1 .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}

.carousel1 .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}

.carousel1 .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel1 .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}

.carousel1 .list .item:nth-child(1) .content img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.8s linear 1 forwards;
}

@keyframes showImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 20%;
  }
  to {
    opacity: 60%;
  }
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel1.next .thumbnail .item:nth-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel1.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.carousel1.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* runninng time */

.carousel1 .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #3af1d6;
  left: 0;
  top: 0;
}

.carousel1.prev .time,
.carousel1.next .time {
  animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel1.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel1.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel1.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
  opacity: 0;
}

.carousel1.next .arrows button,
.carousel1.prev .arrows button {
  pointer-events: none;
}

.carousel1.prev .list .item:nth-child(2) .content .author,
.carousel1.prev .list .item:nth-child(2) .content .title,
.carousel1.prev .list .item:nth-child(2) .content .topic,
.carousel1.prev .list .item:nth-child(2) .content .des,
.carousel1.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .arrows {
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
    width: 100%;
    align-items: center;
  }
  .thumbnail {
    bottom: 100px;
    left: 10%;
    
  }
}

@media screen and (max-width: 678px) {
  .carousel1 {
    height: 100vh;
    /* margin-top: -50px; */
    width: 100vw;
    overflow: hidden;
    position: relative;

    margin: 5vh 0;
    font-family: Sarabun, sans-serif;
  }

  .carousel1 .list .item .content {
    padding-right: 0;
  }

  .carousel1 .list .item .topic {
    color: #884ed9;
    font-size: 7vw !important;
    width: 90vw;
  }

  .title {
    font-weight: 500;
    font-size: 5vw !important;
  }

  .des {
    font-size: 3.7vw;
    line-height: 2vh;
    width: 80vw;
  }

  .spanText {
    font-size: 4vw !important;
    color: white;
    font-weight: 400;
  }

  .normaltext {
    font-size: 3vw !important;
    color: white;
  }

  .carousel1 .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 10px;
  }

  .carousel1 .list .item .buttons button {
    border: none;
    background-color: #884ed9;
    letter-spacing: 3px;
    /* font-family: Poppins; */
    font-weight: 500;
    color: white;
    border-radius: 5vw;
    font-size: 3vw;
  }

  .carousel1 .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #884ed9;
    color: white;
    border-radius: 5vw;
  }
}

.spanText {
  font-size: 1.2vw;
  color: white;
  font-weight: 400;
}

.normaltext {
  font-size: 0.9vw;
  color: white;
}
