.hero-container {
  background-image: url(../../../assets/pattern.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
}

.contact-hero {
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.contact-hero-one {
  padding-top: 25vh;
  font-size: 1.5vw;
  font-weight: 100;
}

.contact-hero-two {
  font-size: 4vw;
  width: 60vw;
}

.contact-hero-three {
  font-size: 1vw;
}

/* SECTION2 */
.sTwoContactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.sTwoContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vw;
  width: 60vw;
  text-align: center;
}

.sTwoContactHeader {
  text-align: center;
  color: #884ed9;
}

.sTwoContactParagraph {
  line-height: 4vh;
  color: #884ed9;
  margin-top: 4vh;
}
/* SECTION THREE */

.sThreeContactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh 0;
  /* width: 70vw; */
}

.sThreeContactTopInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 2vh 1vw;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.sThreeContactTopInput {
  width: 25vw;
  height: 4vh;
  border: 1px solid var(--first-color);
  padding: 1vw;
  border-radius: 5px;
}

input::placeholder {
  color: var(--first-color);
}

input:focus {
  border-color: transparent; /* or any other desired color or 'transparent' */
}

.sThreeContactMidInputs {
  display: flex;
  flex-wrap: wrap;
  margin: 2vh 0;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.sThreeContactMidInput {
  width: 52.99vw;
  height: 4vh;
  border: 1px solid var(--first-color);
  padding: 1vw;
  border-radius: 5px;
}

.sThreeContactSelectInput {
  display: flex;
  gap: 2vw;
}

.custom-select {
  /* position: relative; */
  top: 0;
  width: 200px;
  /* background-color: #f2f2f2;  */
}

.custom-select select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* appearance: none; */
  background-color: inherit;
}

.custom-select select:focus {
  outline: none;
  border-color: #007bff;
}

.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select select option {
  padding: 8px;
}

.sThreeContactSelectors {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2vw;
}

.each-input {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.sThreeContactMultiSelectors {
  display: flex;
  flex-direction: column;
}

.sThreeContactMultiSelect {
  display: flex;
  flex-direction: column;
}

.sThreeContactSubmit {
  margin-top: 4vh;
  color: white;
  background-color: var(--first-color);
  padding: 2vh 4vw;
  border: none;
  border-radius: 5px;
  font-size: 1.2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.sThreeContactMultiSelectors p {
  margin-bottom: 2vh;
  font-weight: bold;
  color: var(--first-color);
}

@media only screen and (max-width: 600px) {
  .sTwoContactHeader {
    text-align: center;
    color: #884ed9;
    font-size: 5vw;
  }
  .sTwoContactParagraph {
    line-height: unset;
    color: #884ed9;
    margin-top: 1vh;
    width: 95vw;
  }
}
