/* digital.module.css */
.cardContainer {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1s ease, transform 1s ease;
}

.cardContainer.visible {
  opacity: 1;
  transform: translateY(0);
}