.hero-container {
  background-image: url(../assets/land.png) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.hero-one {
  padding-top: 25vh;
  font-size: 1.5vw;
  font-weight: 100;
  color: white;
}

.hero-two {
  font-size: 3.8vw;
  width: 50vw;
  color: white;
}

.hero-three {
  font-size: 1vw;
}

.heroBtn {
  padding: 2vh 3vw;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  font-size: 1.2vw;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 1s all ease-in-out;
  margin-top: 4vh;
}

.heroBtn:hover {
  background-color: var(--first-color);
}

/* Mobile breakpoint */
/* @media only screen and (max-width: 700px) {
  .container {
    background-image: url(assets/bgpmm.png);
    background-size: cover;
    height: 50%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 70%, 0px 100%);
    color: white;
    display: none;
  }

  .hero {
    margin-left: 0;
    font-size: 20vw;
    margin-top: 20vh; 
  }

  .hero-one {
    padding-top: 45vh;
    font-size: 3vw;
  }

  .hero-two {
    font-size: 6vw;
    width: 100%;
  }

  .hero-three {
    font-size: 2vw;
  }
} */

/* SECTION TWO */
.sTwoContainer {
  display: flex;
  padding: 4vw;
  justify-content: center;
  gap: 1vw;
  margin-top: 5vh;
  overflow-x: hidden;
}

.sTwoHero {
  width: 63vw;
  margin-left: 6vw;
}

.sTwoHeroText1 {
  font-size: 3vw;
  color: var(--first-color);
}

.sTwoHeroText2 {
  font-size: 3vw;
  color: var(--second-color);
}

.sTwoHero1 {
  font-size: 1.2vw;
  color: var(--third-color);
  width: 22vw;
  margin-bottom: 2vh;
  line-height: 4vh;
}

.sTwoHero1span {
  color: white;
  background: var(--first-color);
  padding: 0.5vw;
  border-radius: 15px;
}

.sTwoHero2 {
  width: 45vw;
  line-height: 3vh;
  text-align: justify;
  margin-bottom: 4vh;
  margin-right: 4vw;
  font-size: 1.1vw;
}

.sTwoRightBtn {
  display: flex;
  gap: 1vw;
}

.sTwoLeftBtn1 {
  background: #0076ff;
  background-image: -webkit-linear-gradient(top, #0076ff, #4a82c2);
  background-image: -moz-linear-gradient(top, #0076ff, #4a82c2);
  background-image: -ms-linear-gradient(top, #0076ff, #4a82c2);
  background-image: -o-linear-gradient(top, #0076ff, #4a82c2);
  background-image: linear-gradient(to bottom, #0076ff, #4a82c2);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #0076ff 1px;
  text-decoration: none;
  cursor: pointer;
}

.sTwoLeftBtn2 {
  background: #5e94d3;
  background-image: -webkit-linear-gradient(top, #5e94d3, #0076ff);
  background-image: -moz-linear-gradient(top, #5e94d3, #0076ff);
  background-image: -ms-linear-gradient(top, #5e94d3, #0076ff);
  background-image: -o-linear-gradient(top, #5e94d3, #0076ff);
  background-image: linear-gradient(to bottom, #5e94d3, #0076ff);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #0076ff 1px;
  text-decoration: none;
  cursor: pointer;
}

.sTwoInfographs1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sTwoInfographsImg1 {
  position: absolute;
  width: 25vw;
  border-radius: 15px;
  position: relative;
}

.sTwoRightBtn1 {
  position: absolute;
  right: 30vw;
  z-index: 1;
  box-shadow: 0px 4px 14px -7px #276873;
  background-color: #0076ff;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 11px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
  transition: 0.5s ease-in-out;
}
.sTwoRightBtn1:hover {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}

.sTwoRightBtn2 {
  position: absolute;
  left: 30vw;
  top: 1vh;
  box-shadow: 0px 4px 14px -7px #276873;
  background-color: #0076ff;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 11px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
}
.sTwoRightBtn2:hover {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}

.sTwoInfographs2 {
  display: flex;
}

.sTwoInfographsImg2 {
  width: 22vw;
  border-radius: 15px;
  position: relative;
  bottom: 1vw;
  left: 5vw;
}

.sTwoInfographsImg3 {
  position: relative;
  bottom: 9vw;
  right: 3vw;
  width: 25vw;
}

.sTwoRightBtn3 {
  position: absolute;
  z-index: 1;
  left: 55vw;
  top: 160vh;
  box-shadow: 0px 4px 14px -7px #276873;
  background-color: #0076ff;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 11px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
}
.sTwoRightBtn3:hover {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}

.sTwoRightBtn4 {
  position: absolute;
  z-index: 1000;
  top: 160vh;
  left: 75vw;
  box-shadow: 0px 4px 14px -7px #276873;
  background-color: #0076ff;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 11px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
}

.sTwoRightBtn4:hover {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}

.sTwoRightBtn5 {
  position: absolute;
  z-index: 1000;
  top: 135vh;
  left: 73vw;
  box-shadow: 0px 4px 14px -7px #276873;
  background-color: #0076ff;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 11px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
}

.sTwoRightBtn5:hover {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}

/* SECTION TWO MOBILE */
@media only screen and (max-width: 700px) {
  .sTwoContainer {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: center;
    gap: 1vw;
    margin-top: 5vh;
    overflow-x: hidden;
  }

  .sTwoHero {
    width: 95vw;
    margin-left: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sTwoHeroText1 {
    font-size: 6vw;
    color: var(--first-color);
  }

  .sTwoHeroText2 {
    font-size: 3vw;
    color: var(--second-color);
  }

  .sTwoHero1 {
    font-size: 4vw;
    color: var(--second-color);
    width: 95vw;
    margin-bottom: 2vh;
    line-height: unset;
    text-align: center;
  }

  .sTwoHero1span {
    color: var(--first-color);
    background: var(--primary-color);
    padding: 0.5vw;
    border-radius: 15px;
  }

  .sTwoHero2 {
    width: 95vw;
    line-height: 3vh;
    text-align: center;
    margin-bottom: 1vh;
    margin-right: unset;
  }

  .sTwoRightBtn {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
  }

  .sTwoLeftBtn1 {
    color: white;
    background: linear-gradient(
      to right,
      #000000 0%,
      #0b001d 20%,
      #1b073b 40%,
      #6930c3 100%
    );
    padding: 3vw 4vw;
    border: none;
    border-radius: 25vw;
    width: 40vw;
  }

  .sTwoLeftBtn2 {
    color: white;
    background: linear-gradient(
      to right,
      #6930c3 0%,
      #310874 20%,
      #1b073b 40%,
      #0b001d 80%,
      #000000 100%
    );
    padding: 3vw 4vw;
    border: none;
    border-radius: 25vw;
    width: 40vw;
  }

  /* ****** */

  .sTwoInfographs {
    display: none;
  }
}

/* SECTION 3 */
.sThreeContainer {
  background: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* background: linear-gradient(
    90deg,
    rgba(0, 118, 255, 1) 0%,
    rgba(29, 120, 244, 1) 27%,
    rgba(94, 148, 211, 1) 61%,
    rgba(244, 244, 244, 1) 100%
  ); */
  padding: 3vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sThreeHero {
  color: white;
}

.sThreeRight {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.sThreeDropContainer {
  color: var(--second-color);
  background-color: white;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  /* gap: 3vh; */
}

.sThreeDropDown {
  display: flex;
  justify-content: space-between;
  width: 37vw;
}

.sThreeDropDown {
  display: flex;
  align-items: center;
  padding: 0.81vw;
}

.sThreeDropMainText {
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  gap: 1vw;
  color: var(--first-color);
}

.sThreeDropText {
  width: 37vw;
  text-align: justify;
  text-justify: distribute;
  font-size: 1vw;
  /* padding: 1vw; */
  padding-left: 1vw;
  line-height: 4vh;
  color: var(--first-color);
}

/* SECTION 4 */
.sFourContainer {
  display: flex;
  flex-direction: row;
  background: rgb(0, 118, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 118, 255, 1) 0%,
    rgba(29, 120, 244, 1) 27%,
    rgba(94, 148, 211, 1) 61%,
    rgba(244, 244, 244, 1) 100%
  );
  justify-content: space-between;
  align-items: center;
  padding: 4vh 7vw;
}

.sFourRightImg {
  width: 40vw;
  height: 70vh;
  object-fit: cover;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255),
    rgba(128, 255, 219, 1),
    rgba(105, 48, 195, 1)
  );
  /* opacity: 0.7; */
  border-radius: 15px;
}

.sFourLeft {
  color: var(--white-color);
}

.sFourHero {
  font-size: 1.6vw;
  margin-bottom: 4vh;
}

.sFourText {
  width: 40vw;
  line-height: 3vh;
  margin-bottom: 2vh;
  font-size: 1vw;
  text-align: justify;
  text-justify: distribute;
}

.sFourInputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3vh;
}

.sFourInput {
  padding: 2vh;
  width: 38vw;
  border: none;
  border-radius: 5px;
}

.sFourInputText {
  padding: 2vh;
  width: 38vw;
  height: 20vh;
  border: none;
  border-radius: 5px;
  color: var(--first-color);
}

.sFourInputBtn {
  padding: 2vh;
  width: 40vw;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: var(--normal-text);
  background-color: var(--dark-color);
}

/* SECTION FIVE */
.sFiveContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh 4vw;
  margin: auto;
}

.sFiveHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sFiveHeroHr {
  width: 20vw;
  border: 2px solid var(--first-color);
  text-align: center;
  margin: 6vh 0;
}

.sFiveHeroText {
  color: var(--first-color);
  font-size: 1.8vw;
  margin-top: 4vh;
}

.sFiveHeroTextSpan {
  color: var(--first-color);
}

.sFiveCard {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: cente;
  align-items: center;
  padding: 2vw;
  border-radius: 15px;
  height: 40vh;
  width: 30vw;
  transition: 0.5s ease-in-out;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.13), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
}
.sFiveCard:hover {
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

.sFiveIcon {
  width: 4.3vw;
  object-fit: cover;
}

.sFiveCardContainer {
  margin: 4vh 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
}

.sFiveCardHero {
  font-size: 1.3vw;
  color: var(--first-color);
  margin-top: 2vh;
}

.sFiveText {
  margin-top: 2vh;
  width: 30vw;
  text-align: center;
  color: #333;
  font-size: 1vw;
}

.sFiveBtn {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  opacity: 0;
  padding: 0.7vw;
  color: white;
  background-color: var(--first-color);
  transition: 0.8s ease-in-out;
  border: none;
  border-radius: 5px;
  margin-top: 2vh;
}

.sFiveBtn :hover {
  background: linear-gradient(
    to right,
    #6930c3 0%,
    #310874 20%,
    #1b073b 40%,
    #0b001d 80%,
    #000000 100%
  );
  transition: 1s ease-in-out;
}

.sFiveCard:hover .sFiveBtn {
  transform: translateY(0px);
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .sFiveContainer {
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vh 4vw;
    margin: auto;
  }

  .sFiveHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sFiveHeroHr {
    width: 20vw;
    border: 2px solid var(--first-color);
    text-align: center;
    margin: 6vh 0;
  }

  .sFiveHeroText {
    color: var(--white-color);
    font-size: 1.8vw;
    margin-top: 4vh;
  }

  .sFiveHeroTextSpan {
    color: var(--first-color);
  }

  .sFiveCard {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: cente;
    align-items: center;
    padding: 2vw;
    border-radius: 15px;
    height: 33vh;
    width: 90vw;
    transition: 0.5s ease-in-out;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.13),
      0 1px 4px 0 rgba(0, 0, 0, 0.11);
  }
  .sFiveCard:hover {
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
      0 5px 14px 0 rgba(0, 0, 0, 0.18);
  }

  .sFiveIcon {
    width: 15.3vw;
    object-fit: cover;
  }

  .sFiveCardContainer {
    margin: 4vh 0;
    display: flex;
    flex-wrap: unset;
    flex-direction: column;
    gap: 2vw;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
  }

  .sFiveCardHero {
    font-size: 4.3vw;
    color: var(--first-color);
    margin-top: 2vh;
  }

  .sFiveText {
    margin-top: 2vh;
    width: 80vw;
    text-align: center;
    color: #333;
    font-size: 4vw;
  }

  .sFiveBtn {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    padding: 0.7vw;
    color: white;
    background-color: var(--first-color);
    transition: 0.8s ease-in-out;
    border: none;
    border-radius: 5px;
    margin-top: 2vh;
  }

  .sFiveBtn :hover {
    background: linear-gradient(
      to right,
      #6930c3 0%,
      #310874 20%,
      #1b073b 40%,
      #0b001d 80%,
      #000000 100%
    );
    transition: 1s ease-in-out;
  }

  .sFiveCard:hover .sFiveBtn {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* SECTION FIVE */
.sSixContainer {
  margin: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sSixFirst {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  justify-content: center;
  align-items: center;
  /* width: 40vw; */
}

.sSixFirstImg {
  height: 40vh;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 40vw;
}

.sSixFirstImg:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sSixText {
  color: #333;
  font-size: 2vw;
  width: 40vw;
  font-weight: bolder;
}
/* 
FOOTER
.footerSideNavs {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  height: 35vh;
}

.footSidebar {
  background-color: rgb(230, 255, 248);
  height: 35vh;
  width: 20vw;
  font-size: 0.6vw;
  padding: 4vh 0vw 4vh 4vw;
}

.footerNavsHeaders {
  background-color: rgb(40, 221, 167);
  padding: 4vh 0vw 4vh 4vh;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 0.7vw;
}

.footerNavItems {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 4vh 4vw;
}

.footerNavHero {
  font-size: 1.6vw;
}

.footNavDropdown {
  display: flex;
  flex-direction: row;
  /* padding: 5vh 4vw; */
/* gap: 8vw;
} */
/* 
.footerNavItemsLine {
  border: 1px solid #7e7a7a;
  width: 60vw;
  margin: 2vh 0;
}

.footNavDropdownUl {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 3vh;
}

.footNavDropdownUl li {
  display: flex;
  color: #333;
  gap: 1vw;
  font-size: 1.6vw;
}  */
