.sOneBlogContainer {
  background-image: url("https://images.unsplash.com/photo-1552152370-fb05b25ff17d?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* position: fixed; */
  background-repeat: no-repeat;
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background: linear-gradient(
    140deg,
    rgb(40, 221, 167) 0%,
    #d04d9d 10%,
    #7d44be 50%,
    #293680 75%,
    #0b001d 100%
  ); */
  /* opacity: 0.5; */
  background: white;
}

.sOneBlogHero {
  padding-top: 25vh;
  font-size: var(--big-header);
  color: var(--fourth-color);
  margin-left: 8vw;
}

.sOneBlog {
  /* margin: 6vh 4vw; */
  display: flex;
  justify-content: space-around;
  align-items: top;
  gap: 1vw;
  padding: 4vh 8vw;
}

.sOneBlogCard {
  width: 20vw;
}

.sOneBlogBlurbs {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw 2vh;
}

.sOneBlogCard {
  display: flex;
  width: 30vw;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  margin: 4vh 0;
  transition: 0.5s ease-in-out;
  box-shadow: -1px 0px 30px -9px rgba(28, 27, 100, 0.75);
}

.sOneBlogCard:hover {
  box-shadow: -1px 0px 30px -14px rgba(28, 27, 100, 0.75);
}

.sOneBlogCardImg {
  width: 30vw;
  height: 36vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.sOneBlogCardHeader {
  color: var(--first-color);
  margin: 2vh;
}

.sOneBlogCardText {
  color: var(--fourth-color);
  margin: 2vh;
  font-size: var(--normal-text);
  text-align: justify;
  text-justify: distribute;
}

.sOneBlogCardSub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  padding: 4vh;
}

.sOneBlogCardDate {
  color: var(--veryDark-color);
  font-size: var(--small-text);
}

.sOneBlogCardAuthor {
  font-size: var(--normal-text);
  color: var(--first-color);
  font-style: italic;
}

.sOneBlogCardBtn {
  color: white;
  background-color: var(--fourth-color);
  width: 8vw;
  border: none;
  padding: 0.5vw;
  border-radius: 15px;
}

.sOneBlogCardAuthorSpan {
  font-weight: bold;
}

.sOneBlogFeature {
  flex: 1;
  margin-top: 4vh;
}

.oneBlogInputContainer {
  background-color: var(--fourth-color);
  height: 20vh;
  width: 27vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 0px 30px -11px rgba(28, 27, 100, 0.75);
}

.sOneBlogInput {
  text-align: center;
  width: 20vw;
  padding: 1vw;
  border-radius: 25px;
  border: none;
}

.oneBlogCatContainer {
  background-color: var(--fourth-color);
  /* height: 20vh; */
  width: 27vw;
  border-radius: 10px;

  margin: 2vh 0;
  align-items: center;
  box-shadow: -1px 0px 30px -11px rgba(28, 27, 100, 0.75);
}

.oneBlogCatTop {
  padding: 4vw 0 2vh 1vh;
  color: white;
  font-size: var(--sub-header);
  text-align: left;
}

.oneBlogCatContainerItems {
  color: var(--vlight-color);
  padding: 2vh;
}

.oneBlogCatLine {
  width: 20vw;
  border: 0.1vh solid var(--light-color);
  margin: 0.9vh;
}

.oneBlogCatItems {
  font-size: var(--normal-text);
  color: var(--vlight-color);
  transition: 0.5s ease-in-out;
}

.oneBlogCatItems:hover {
  padding-left: 3vw;
}

/* BLOG DETAILS */
.sOneBlogDetailsContainer {
  padding-top: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sOneBlogDetailsHeader {
  justify-content: center;
  text-align: center;
  width: 70vw;
  font-size: 2vw;
  margin-bottom: 2vh;
  color: var(--fourth-color);
}

.sOneBlogDetailsImg {
  width: 70vw;
  height: 60vh;
  object-fit: cover;
}

.sOneBlogDetailsInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.31vw;
}

.sOneBlogDetailsLine {
  border: 1px solid var(--fourth-color);
  height: 4vh;
  width: 1px;
  background-color: var(--fourth-color);
}

.sOneBlogDetailsSpan {
  font-size: 1.5vw;
  font-weight: bold;
  color: #333;
}

.sOneBlogDetailsSocils {
  color: var(--fourth-color);
  display: flex;
  gap: 2vw;
  padding: 3vh 0;
}

.sOneBlogDetailsDesc {
  padding: 3vh 0;
  /* display: flex;
  justify-content: center; */
  text-align: justify;
  width: 70vw;
  font-size: 1.3vw;
  line-height: 4vh;
}

.sOneBlogCardLink {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .sOneBlogContainer {
    background-image: url("https://images.unsplash.com/photo-1552152370-fb05b25ff17d?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* position: fixed; */
    background-repeat: no-repeat;
    height: 20vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
    /* background: linear-gradient(
    140deg,
    rgb(40, 221, 167) 0%,
    #d04d9d 10%,
    #7d44be 50%,
    #293680 75%,
    #0b001d 100%
  ); */
    /* opacity: 0.5; */
    width: 100%;
  }
  .sOneBlog {
    margin: 1vh 2v;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: top;
    gap: 1vw;
  }

  .sOneBlogFeature {
    margin-top: 2vh auto;
    text-align: center;
  }

  .sOneBlogHero {
    padding-top: 25vh;
    font-size: 7vw;
    color: var(--fourth-color);
    margin-left: unset;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .sOneBlogDetailsContainer {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sOneBlogDetailsHeader {
    justify-content: center;
    text-align: center;
    width: 95vw;
    font-size: 4vw;
    margin-bottom: 1vh;
    color: var(--fourth-color);
  }

  .sOneBlogDetailsInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
  }

  .sOneBlogDetailsSpan {
    font-size: 4vw;
    font-weight: bold;
    color: #333;
  }

  .sOneBlogDetailsImg {
    width: 95vw;
    height: 30vh;
    object-fit: cover;
  }

  .sOneBlogDetailsDesc {
    padding: 1vh 0;
    /* display: flex;
  justify-content: center; */
    text-align: justify;
    width: 90vw;
    font-size: 4vw;
    line-height: 4vh;
  }
}
