:root {
  --veryDark-bg-color: #220127;
  --dark-bg-color: #4d0a57;
  --main-bg-color: #a242b1; /* Main background color */
  --light-bg-color: #ebaef5;
  --primary-color: #80ffdb; /* Primary color */
  --secondary-color: #aaaaaa; /* Secondary color */
  --white-color: #ffffff; /* white color */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
