:root {
  --veryDark-color: #220127; /* Very Dark color*/
  --dark-color: #4d0a57; /* Dark color*/
  --main-color: #a242b1; /* Main background color */
  --light-color: #ebaef5;
   --vlight-color: #fdeeff;
  --primary-color: #80ffdb; /* Primary color */
  --secondary-color: #aaaaaa; /* Secondary color */
  --white-color: #ffffff; /* white color */
  --big-header: 2.5vw;
  --sub-header: 1.7vw;
  --normal-text: 1.2vw;
  --small-text: 0.9vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
