:root {
  --veryDark-color: #31004a; /* Very Dark color*/
  --dark-color: #33007b; /* Dark color*/
  --main-color: #4c00a4; /* Main background color */
  --jt-color: #8300c4;
  --light-color: #ab00ff;
  --vlight-color: #fdeeff;
  --primary-color: #80ffdb; /* Primary color */
  --secondary-color: #aaaaaa; /* Secondary color */
  --white-color: #ffffff; /* white color */

  --first-color: #0076ff;
  --second-color: #ab63f3;
  --third-color: #5e94d3;
  --fourth-color: #1d78f4;
  --sixth-color: #000;

  --big-header: 2.5vw;
  --header: 2vw;
  --sub-header: 1.7vw;
  --normal-header: 1.5vw;
  --normal-text: 1.2vw;
  --small-text: 0.9vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
